body{
  font-family: Arial, Helvetica, poppins sans-serif;
  text-decoration: none;
  align-items: center;
  display: grid;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff4f4;
  
}


h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

h1{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}



.container {
  width:100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

}

/* Header */
.header {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0;
  align-items: center;
  position: sticky;
  z-index: 3;
  background: pink;
  top: 0;
  min-width: 320px;
}

.btn-donation {
  background-color: rgb(190, 90, 170);
  color: #6a6a6a;
  padding: 1rem;
  border-radius: 2em;
  border: none;
  animation: btn-animation 1s alternate infinite;

}

.btn-donation:hover{
  background-color: rgb(0, 0, 0);
  color: #fffefe;
  border-radius: 2em;
  border: none;
  animation: none;


}

@keyframes btn-animation {
  0% {
      background: rgb(29, 13, 23);
      color: #FFFFFF;
  }

  100% {
      background: rgb(250, 250, 250);
      color: black;
  }
}



.navigation{
  overflow: hidden;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.nav{
  overflow: hidden;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}




.nav li {
  font-weight: 800;
}


*, *:after, *:before {
	box-sizing: border-box;
}


.navigation a {
  position: relative;
  text-decoration: none;

}

.navigation a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;

}


.navigation a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
  cursor: pointer;

}




.menu{
  display: flex;
  gap: 20px;
  justify-content: space-between;

}


#checkbox_toggle {
  display: none;
}

.hamburger {
 display: none;
  font-size: 24px;
  cursor: pointer;
}

.hamburger-line {
  background-color: black;
  display: block;
  height: 1px;
  position: relative;
  width: 24px;
}

.hamburger-line::before,
.hamburger-line::after {
  background-color: black;
  content: '';
  display: block;
  position: absolute;
  transition: all .3s;
  width: 100%;
  height: 100%;

}

.hamburger-line::before {
  background-color: black;

  top: 7px;
}

.hamburger-line::after {
  background-color: black;

  top: -7px;
}







.st0 {
  color: white ;;
}
.st0{fill:#f5eded;}

.flex-row{
  display: flex;
  text-wrap: nowrap;

}

.flex-row h3{
  padding-left: 10%;
  padding-top: 17%;
  transform: translate(5%, -30%);

}

.logo-wrap{
  display: flex;

}


.social-icons {
  display: flex;
  justify-content: start;
}
 
.social-icons a {
  margin: 0 10px;
}
 
.social-icons img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}
 
.social-icons a:hover img {
  transform: scale(1.2);
}

/* end Header*/






/* Footer */

.footer {
  padding: 3rem;
  background-color: black;
  color: white;
}

.footer__logo {
  align-self: center;
  width: max-content;
}

.footer__list {
  margin: 0.35rem;
}

.footer__credit {
  display: inline;
  align-self: self-end;
  margin-bottom: -50px;
  width: max-content;

}

.footer__number {
  font-size: 1rem;
  margin-top: 0.35rem;
}

.footer__list a {
  color: var(--first-color);
}

.footer__list a:hover {
  color: var(--accent-hover-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

.footer__container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  display: grid;
}
 
.footer-container {
  display: flex;

}


.footer__links,
.footer__social {
  text-align: left;
  width: 250px;
  width: max-content;
  padding: 30px;
}

.footer__title {
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: var(--m-0-75);
  padding-left: 5px;
  font-size: 20px;
}

.st1 {
  fill: white;
}
/* End Footer */


/*MainBlock*/

/* Photo image with cat*/

.image {
  width: 80%;
  height: 60%;
  filter: blur(2px);
  margin: 0;


}





.containerr {
  font-size: 16px;
  text-align: center;
  width: 50%;
  min-width: 95%;
  margin: 0 auto;
  padding: 0;
  max-width: 80%;


}

.containerr h1{
  font-size: 5rem;
}
.containerr p{
  padding-top: 5%;
  color: #292929;
  text-align: justify;
  column-count: 2;
  column-fill: balance;
  column-gap: 100px;
  line-height: 1.8;

}

.dich {
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: around;
  align-items: center;


}

.dich img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -10;


}
/* End Photo with cat*/





/* Galeria OUR CAT*/


 /*Slider*/
 .slider {
  display: flex;
  overflow-x: scroll;
overflow-y: visible;
  width: 100%;
height: 350px;
}
.card {
  flex: 0 0 300px;
  
  width: 400px;
  height: 100%;
  margin-right: 20px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h4 {
  margin-top: 10px;
  text-align: center;
}
 /*Slider*/

.img-blocks{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;

  
}
.btn-help{
  font: 1.3em sans-serif;
  padding: 15px;
  width: 20%;
  padding-left: auto;
  padding-right: auto;
  border-radius: 2em;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.clearfix{
  padding: 15px;

}
.sltext {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.btn-help:hover{
  background-color: #777;
  color: white;
}


/* End Galeria OUR CAT*/






/*end MainBlock*/



@media screen and (min-width: 300px) and (max-width: 768px) {

  body{
    width: fit-content;
  }
  .container {
    width:fit-content;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  
  }
  .menu{
    display: none;
    max-height: 0;
    position: fixed;
    height: max-content;
    background-color: #777;
    text-align: center;
    margin-top: 60px;
    left: 0;
    right: 0;    
  }

  .menu li a {
    color: white;
    display: block;
    padding: 15px;
    height: fit-content;
  }

  .menu li{
    transition: all .5s;
    height: 100%;
    display: block;

  }
  .menu li:hover {
    background-color: #292929;
  }


  #checkbox_toggle:checked ~ .menu{
    display: block;
    max-height: 100%;
  }
  .hamburger {
    display: block;
    padding: 20px 0;

   }


  .logo-wrap h3 {
    top: 30px;
    font-size: 20px;
    transition: all .5s;
  }
   .social-icons {
    display: none;
   }
   .header {
    padding-left: 10px;
    padding-right: 10px;
   }

   .flex-row h3 {
    display: none;
   }
/*header end*/

   img {
    width: 100%;
   }
   p {
    font-size: 14px;
   }
  .container{
    width: 100%;

    height: auto;
  }
  .containerr{
    height: auto;
    min-width: 100%;

  }
  .containerr p {
    column-count: auto;
    min-width: 60%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.4; 
    font-size: 14px;   
  }
  .btn-help{
    font-size: 15px;
    text-wrap: nowrap;
    width: auto;
  }

  /*footer*/
  .footer_container h1, h3, .footer__title, li, p{
    font-size: 16px;
    width: fit-content;

  }
  .footer__container{
    display: block;
  }
  .footer__links text{
    font-size: 10px;
    }
}




@media screen and (min-width: 768px) and (max-width: 992px)  {

  .menu{
    display: flex;
    font-size: 18px;
    transition: all .3s;
  }
  
  .social-icons {
   display: none;
  }
  .header {
   padding-left: 10px;
   padding-right: 10px;
  }
  
  .flex-row h3 {
   display: none;
  }
  img {
    width: 100%;
   }
   p {
    font-size: 14px;
   }
  .container{
    width: 100%;

    height: auto;
  }
  .containerr{
    height: auto;
    min-width: 100%;

  }
  .containerr p {
    column-count: auto;
    min-width: 60%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.4; 
    font-size: 14px;   
  }
  .btn-help{
    font-size: 15px;
    text-wrap: nowrap;
    width: auto;
  
  }

  .footer__links, .footer__social {
    text-align: left;
    width: max-content;
    padding: 10px;
    padding-left: 0;
    
}
  .footer__links text{
    font-size: 10px;
    }
    .footer text {
      font-size: 16px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {

.menu{
  display: flex;
}

.social-icons {
  display: flex;
  justify-content: start;
}
.header {
 padding-left: 10px;
 padding-right: 10px;
}

.flex-row h3 {
 display: none;
}
.footer-container{
  width: fit-content;

}
.footer__links text{
  font-size: 10px;
  }
  footer text {

      font-size: 10px;
      
  }
}
@media (min-width: 992px) {

  .menu{
    display: flex;
  }


.header {
 padding-left: 10px;
 padding-right: 10px;
}


.footer__links{
  padding: 30px;
  padding-left: 70px;
}

}

